@import 'antd/dist/antd.variable.min.css';

.App {
  text-align: center;
}

.pageHeight{
  height: 100vh;
}

.all-container{
  margin-top: 5px;
  margin-right: 5px;
  width: 100vw;
}

.top15{
  margin-top: 15px;
}